.mainContainer {
  min-height: 100vh;
  background-image: linear-gradient(to right, #9796f0, #fbc7dc);
  display: flex;
  flex-direction: column;
}

.pageBody {
  width: 85%;
  align-self: center;
  margin-top: 100px;
}

.emojiContainer {
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
